

body{
    font-family: sans-serif;
}
html{
 scroll-behavior: smooth;
}


h1{
    color: navy;
}

img,video{
    max-width:100%; /*<!-- ajustar a la altura y ancho de la pantalla --> */
    height: auto;   
}

iframe{
    width:80 ;
    height:400px;
}


